In [6]:
# 读取 Task_4_lianjia_sale.csv 数据(阅读参考文章 2、3)，利用 groupby 函数，以【区域】字段进行 groupby， 同时结合 agg 聚合函数统计各个区域平均房价;
import pandas as pd
f = open('/Users/liwenjie/Downloads/Task_4_lianjia_sale.csv')
f.close
df = pd.read_csv(f)
df.head()

,房型,价格,小区,面积（㎡）,建造年份,户型,朝向,装修类型,楼层,区域
0,大华电梯两房/房型正气/开门南北通/房东诚意出售,76531,大华锦绣华城(十六街区)(公寓),90.16,2010,2室2厅,南,简装,中楼层(共18层),浦东
1,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,52290,芳雅苑,63.11,1995,2室1厅,南,精装,低楼层(共6层),浦东
2,满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装,62878,锦博苑,79.52,2007,2室2厅,南,精装,高楼层(共6层),浦东
3,13号线陈春路地铁400米中间楼层诚意卖看房方便,45866,鹏海小区,71.95,1997,2室1厅,南,简装,中楼层(共6层),浦东
4,朝阳正气一房，采光好，坐看花园，户型方正，看房方便,83942,万邦都市花园,54.80,2004,1室1厅,南,简装,中楼层(共11层),浦东

In [7]:
# 将统计所得平均房价命名为【区域平均价格】列 (阅读参考文章 4、5)
area = df.groupby('区域').价格.agg([('区域平均价格','mean')])
area

          区域平均价格
区域
嘉定  36587.687199
奉贤  23662.131268
宝山  42577.796632
徐汇  75395.941983
普陀  57943.126871
杨浦  62726.673854
松江  36461.715479
浦东  55413.057914
虹口  66165.352834
金山  19304.818824
长宁  72099.617088
闵行  49080.587398
青浦  37078.860149
静安  74304.768542
黄浦  95015.086252

In [8]:
# 并将数据从小到大按顺序排列(提示:df.sort_values(by = “ ”) (阅读参考文章 6));
# 最后展示所得前 5 行数据 (将所得的 DataFrame 命名为 df_avg);


df_avg = area.sort_values(by = '区域平均价格')
df_avg.head(5)

          区域平均价格
区域
金山  19304.818824
奉贤  23662.131268
松江  36461.715479
嘉定  36587.687199
青浦  37078.860149

In [9]:
import pyecharts
print(pyecharts.__version__)

1.6.2

In [10]:
# 利用 Pyecharts 将第(1)问所得数据作条形图(阅读参考文章 7)，图表标题为“上海各区域平均价格”(提示: 最后用 render_notebook()渲染显示出图片);
from pyecharts.charts import Bar
from pyecharts import options as opts
x = df_avg.index.values.tolist()
y = df_avg['区域平均价格'].values.tolist()
bar = (
    Bar()
    .add_xaxis(x)
    .add_yaxis('价格',y)
    .set_global_opts(title_opts=opts.TitleOpts(title="上海各区域平均价格"))
)
bar.reversal_axis() #翻转XY轴，将柱状图转换为条形图ba
bar.render()
bar.render_notebook()